.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list > input {
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    padding: 10px 0;
}

.list > input:focus {
    outline: none;
    border-bottom: 1px solid rgb(162, 162, 172);
}

.list > .item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}