.Button {
    background-color: rgb(rgb(146, 146, 146));
    cursor: pointer;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}

.Button_RED {
    background-color: red;
    color: white;
}

.Button_GREEN {
    background-color: green;
    color: white;
}